<div class="thumbnail center well well-small text-center">
  <h2>Newsletter</h2>
    
  <p>Subscribe to our weekly Newsletter and stay tuned.</p>
    
  <form action="" method="post">
    {{ formfield "text" model "email" }}

    {{ formfield "select2" model "address"
        url="json!https://maps.googleapis.com/maps/api/geocode/json?sensor=false&address="
        optRoot="results"
        optName="formatted_address"
        optValue="formatted_address"
        width="200px" blank=true
    }}

    <br />
    <input type="submit" value="Subscribe Now!" class="btn btn-large" />
  </form>
</div>
