<div class="thumbnail center well well-small text-center">
  <h2>Newsletter</h2>
    
  <p>Subscribe to our weekly Newsletter and stay tuned.</p>
    
  <form action="" method="post">
    {{ formfield "text" model "email" }}
    <br />
    <input type="submit" value="Subscribe Now!" class="btn btn-large" />
  </form>
</div>
