<label for="search">Type in a search e.g. "back pain" :</label>
<input type="hidden" value="00000" id="search" name="search" class="bigdrop"/>
<span class="help-inline"></span>

<div id="table-container" class="row-fluid">

</div>
